<div class="container">
  <div *ngIf="!loggedIn">
    <mat-card>
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <form (ngSubmit)="onSubmit()">
          <mat-form-field>
            <input type="text" matInput [(ngModel)]="credential.username" name="username" id='username'
                   placeholder="Your Username" required>
          </mat-form-field>
          <mat-form-field>
            <input type="password" matInput [(ngModel)]="credential.password" name="password" id='password'
                   placeholder="Your Password" required>
          </mat-form-field>
          <button mat-button type="submit" class="mat-primary">Login</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="loggedIn">
    <h2>You have logged in now !</h2>
  </div>
</div>
