<div class="container">
  <form [formGroup]="validatingForm">
    <div class="md-form">
      <input
        mdbInput
        mdbValidate
        type="text"
        id="form1"
        class="form-control"
        formControlName="input"
      />
      <label for="form1">Username</label>
      <mdb-error *ngIf="input.invalid && (input.dirty || input.touched)">Username invalid</mdb-error>

    </div>
    <div class="md-form">
      <input
        mdbInput
        mdbValidate
        type="text"
        id="form2"
        class="form-control"
        formControlName="input"
      />
      <label for="form2">Password</label>
      <mdb-error *ngIf="input.invalid && (input.dirty || input.touched)">Password invalid</mdb-error>
    </div>
    <button type="submit" mdbBtn color="primary" (click)="onSubmit()">Login</button>
    <a [href]="'/forgotPassword'">Forgot my password</a>
  </form>
</div>
