<div class="container center">
  <hr class="my-md-5">
  <div class="row"> Order Summary</div>
  <hr class="my-md-5">
  <mat-card class="center">
    <br>
  <div class="alert alert-success" role="alert">
    <h5> Thank you, your order has been placed. </h5>
    <h6>The estimated delivery Time is <span>{{estimatedDeliveryDate}}</span></h6>
  </div>
    <div class="container center">
    <button class="btn btn-info btn-md center align-self-center" mat-button routerLink="/food">Continue Shopping</button>
    </div>
  </mat-card>
</div>
