.example-container {
  display: flex;
  justify-content: center;
  margin: 10%
}

.example-container > * {
  width: 100%;
}

.example-card {
  display: inline-grid;
  max-width: 100%;
}

.mat-form-field--inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mat-form-field--inline .mat-form-field {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mat-form-field--inline .mat-form-field:nth-child(1) {
  margin-right: 10px;
}

.mat-card-header, .mat-card-footer {
  margin: 5%;
  justify-content: center;
}

.mat-slide-toggle {
  margin-bottom: 1%;
  margin-top: 1%;
}

.mat-button, .mat-raised-button {
  margin-bottom: 1%;
  margin-top: 1%;
}

.mat-grid-tile-header {
  padding: 3% !important;
}


